body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #f7f9fc;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* タイトル */
h1 {
    color: #0066cc;
    font-size: 2.2em;
    margin-bottom: 0.2em;
}

/* サブタイトル */
p {
    font-size: 1.1em;
    margin: 10px 0 20px;
}

/* スマホ対応 */
@media (max-width: 600px) {
    main {
        margin: 20px;
        padding: 20px;
    }
    
    img {
        width: 140px;
        height: 140px;
    }
    
    h1 {
        font-size: 1.8em;
     }
}
    